@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
// @import "./mixins";
$color-primary-red: hsl(1, 90%, 64%);
$color-primary-blue: hsl(219, 85%, 26%);
$color-secondary-white: hsl(0, 0%, 100%);
$color-secondary-very-light-grayish-blue: hsl(210, 60%, 98%);
$color-secondary-light-grayish-blue-1: hsl(211, 68%, 94%);
$color-secondary-light-grayish-blue-2: hsl(205, 33%, 90%);
$color-secondary-grayish-blue: hsl(219, 14%, 63%);
$color-secondary-dark-grayish-blue: hsl(219, 12%, 42%);
$color-secondary-very-dark-blue: hsl(224, 21%, 14%);

$font-size-paragraph: 1.6rem;
$font-weight-medium: 500;
$font-weight-extra-bold: 800;
$font-family-primary: "Plus Jakarta Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  user-select: none;
}
html {
  font-size: 62.5%;
  @include responsive(tab-port) {
    font-size: 55%;
  }
}
body {
  background-color: $color-secondary-very-light-grayish-blue;
  font-family: $font-family-primary;
}
.button {
  &--mark-all-read {
    border: none;
    background: none;
    outline: none;
    font-weight: $font-weight-medium;
    color: $color-secondary-dark-grayish-blue;
    font-size: $font-size-paragraph;
    cursor: pointer;
  }
}
