<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Todo app</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./dist/main.css" />
  </head>
  <body>
    <main class="container" id="app">
      <div class="todo">
        <div class="todo__header">
          <h3 class="todo__title">Todo</h3>
          <svg
            class="theme-toggle"
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
          >
            <path
              fill="#FFF"
              fill-rule="evenodd"
              d="M13 21a1 1 0 011 1v3a1 1 0 11-2 0v-3a1 1 0 011-1zm-5.657-2.343a1 1 0 010 1.414l-2.121 2.121a1 1 0 01-1.414-1.414l2.12-2.121a1 1 0 011.415 0zm12.728 0l2.121 2.121a1 1 0 01-1.414 1.414l-2.121-2.12a1 1 0 011.414-1.415zM13 8a5 5 0 110 10 5 5 0 010-10zm12 4a1 1 0 110 2h-3a1 1 0 110-2h3zM4 12a1 1 0 110 2H1a1 1 0 110-2h3zm18.192-8.192a1 1 0 010 1.414l-2.12 2.121a1 1 0 01-1.415-1.414l2.121-2.121a1 1 0 011.414 0zm-16.97 0l2.121 2.12A1 1 0 015.93 7.344L3.808 5.222a1 1 0 011.414-1.414zM13 0a1 1 0 011 1v3a1 1 0 11-2 0V1a1 2 0 011-1z"
            />
          </svg>
        </div>
        <input class="todo__text" v-model="todoText" />
        <ul class="todo__list">
          <li class="todo__item" v-for="i in 5" :key="i">
            <img
              src="./images/icon-check.svg"
              alt="Complete Icon"
              class="todo__icon todo__icon--close"
            />
            <h3 class="todo__item-title">Todo Title</h3>
            <img
              src="./images/icon-cross.svg"
              alt="Close Icon"
              class="todo__icon todo__icon--close"
            />
          </li>
        </ul>
        <div class="todo__result">
          <span class="todo__result__remaining">5 item left</span>
          <span class="todo__result__tag"
            ><span>All</span>
            <span>Active</span>
            <span>Completed</span></span
          >
          <span class="todo__result__clear">Clear Completed</span>
        </div>
      </div>
      <span>Drag and drop to reorder list</span>
    </main>
    <footer>
      <div class="attribution">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
          >Frontend Mentor</a
        >. Coded by <a href="#">Your Name Here</a>.
      </div>
    </footer>
    <script src="./js/app.js" defer></script>
  </body>
</html>
