// @use "sass:list";
@use "sass:list";

@mixin change-theme($text, $bg) {
  @if list.length($bg) == 1 {
    background-color: $bg;
  } @else {
    background-image: linear-gradient(to top left, $bg);
  }
  color: $text;
}
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 32em) {
      // 560px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      // 900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      // 1200px
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (max-width: 90em) {
      // 1440px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
