@use "./mixins" as mixin;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

// :root {
//
// }
$color-primary-bright-blue: hsl(220, 98%, 61%);
$color-primary-accent-1: hsl(192, 100%, 67%);
$color-primary-accent-2: hsl(280, 87%, 65%);
$color-primary-checkbox-background: linear-gradient(
  to bottom,
  $color-primary-accent-1,
  $color-primary-accent-2
);
$color-attribution: hsl(228, 45%, 44%);

$color-light-gray-1: hsl(0, 0%, 98%);
$color-light-gray-2: hsl(236, 33%, 92%);
$color-light-gray-3: hsl(233, 11%, 84%);
$color-light-gray-4: hsl(236, 9%, 61%);
$color-light-gray-5: hsl(235, 19%, 35%);

$color-dark-blue-1: hsl(236, 33%, 92%);
$color-dark-blue-2: hsl(234, 39%, 85%);
$color-dark-blue-3: hsl(234, 11%, 52%);
$color-dark-blue-4: hsl(233, 14%, 35%);
$color-dark-blue-5: hsl(237, 14%, 26%);
$color-dark-blue-6: hsl(235, 24%, 19%);
$color-dark-blue-7: hsl(235, 21%, 11%);

$font-size-paragraph: 1.8rem;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-family-primary: "Josefin Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  // @include mixin.responsive(tab-port) {
  //   font-size: 55%;
  // }
}
body {
  // background-color: $color-dark-blue-7;
  background-color: red;
  font-family: $font-family-primary;
  font-size: $font-size-paragraph;
  vertical-align: middle;
}
.button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  color: inherit;
  &--check {
    border: 1px solid $color-light-gray-2;
    border-radius: 100px;
    padding: 0.5rem;
    width: 2.4rem;
    height: 2.4rem;
    & img {
      height: 1rem;
      width: 1rem;
    }
  }
  & img {
  }
}
.text-center {
  text-align: center;
}
.addCompleteBg {
  background-image: $color-primary-checkbox-background;
  border: none;
}
.addCompleteTextDecoration {
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: $color-dark-blue-3;
}
