@use "./mixins" as m;
@use "./variables" as v;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7% 20%;
  color: v.$color-light-gray-1;
}
.todo {
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    background-color: v.$color-dark-blue-6;
    outline: none;
    border: none;
    font-family: inherit;
    padding: 1rem;
    color: v.$color-dark-blue-2;
    width: 100%;
  }
  &__list {
    background-color: v.$color-dark-blue-6;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  & a {
    color: v.$color-attribution;
  }
}
